body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.button-container {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
    
}

.btn-green{
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
    background-color: #28a745; 
}


back{
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
    background-color: #337ab7; 
}



.green:hover {
    background-color: #218838; }

.blue {
    background-color: #007bff; 
}

.blue:hover {
    background-color: #0056b3; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}